Agentic 2.0/n8n/23rd August/Newsletter.json
{
  "name": "Newsletter",
  "nodes": [
    {
      "parameters": {
        "query": "datahack summit",
        "options": {
          "topic": "general",
          "max_results": 3,
          "time_range": "month"
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        416,
        128
      ],
      "id": "7989a3bc-d5e6-4416-8da2-7da920daa423",
      "name": "Initial Research"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Research:\n{{ $json.results.map(item => JSON.stringify(item, null, 2)).join('\\n\\n') }}\n\n\nMake sure to properly write the newsletter based on content from each content.",
        "options": {
          "systemMessage": "=# Overview\nYou are a professional newsletter section writer. Your only task is to write one  newsletter with different Section properly defined. You will recieve 3 results, write one section each for a result or research you will get.\n\n## Instructions\n- Always include a clear section heading followed by the section content.\n- Do not write an overall title, introduction, or conclusion.\n- Write in a professional, expert, and engaging tone suitable for a business newsletter.\n- If you reference facts, data, or quotes, you must cite your sources and provide the actual clickable URLs.\n- Do not invent citations—only include real, verifiable sources.\n- Keep the section concise, well-structured, and easy to read.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        816,
        128
      ],
      "id": "15f076cd-c3e6-4c08-ab8a-94028db1ef07",
      "name": "Section Writer Agent"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "output"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1152,
        128
      ],
      "id": "764dce4c-f358-4e55-9913-59e846f1c35a",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\n\nSections: {{ $json.output.join(\"\\n\\n\\n\") }}\n",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=# Overview\nYou are an expert newsletter editor. Merge exactly three provided sections into a cohesive, email-ready HTML body with a holistic introduction and conclusion. Maintain a professional, concise tone for a business audience and preserve intended meaning.\n\n## Goals\n- Refine clarity, flow, and consistency across all sections.\n- Keep total content output ≤ 1000 words (hard limit). Avoid fluff.\n\n## Structure (HTML only)\n1) <p> Introduction that frames the three topics and their relevance; reference today’s date: {{ $now.format('yyyy-MM-dd') }}.\n2) For each provided section:\n   - <h2> Use or lightly adjust the given title.\n   - Edited <p> content.\n   - Inline, clickable citations near related claims using <a href=\"https://...\">Source</a>. Never invent sources.\n3) <h3>Sources</h3><ul> A single consolidated list:\n   - Each item: <li><a href=\"[URL]\">[Publication Name] – [Article Title]</a></li>\n   - Include full URLs, deduplicate identical links, and alphabetize by Publication Name.\n4) <p> Conclusion tying threads together with implications or next steps.\n\n## Citation and Link Rules\n- Every factual claim relying on external information must include a real, verifiable, clickable URL.\n- Preserve any provided citations; standardize to the <a> format.\n- Omit unverifiable links rather than fabricate.\n- Use only basic HTML tags (<h2>, <h3>, <p>, <ul>, <li>, <a>). No images, scripts, styles, or external CSS.\n\n## Input\n\nOutput Format (return only this)\nSubject: One clear, specific subject line (≤ 80 characters)\n\nContent:\n[HTML body only as specified above]\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1280,
        128
      ],
      "id": "c59c4a80-89fd-42a4-ab82-b53ee492a4a1",
      "name": "Editor Agent"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"subject\": {\n      \"type\": \"string\",\n      \"description\": \"the email subject\"\n    },\n    \"content\": {\n      \"type\": \"string\",\n      \"description\": \"the newsletter content\"\n    }\n  },\n  \"required\": [\"subject\", \"content\"]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1152,
        432
      ],
      "id": "52d39eb5-25c7-4ce7-b74e-4d54809f8f17",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "content": "## Trigger\nSet cadence",
        "height": 224,
        "width": 208,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        144,
        48
      ],
      "id": "c96b0d4f-af79-4707-9cd8-f32184c31937",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Set your newsletter topic in the \"query\" field",
        "height": 224,
        "width": 208,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        368,
        48
      ],
      "id": "358c868d-cea9-41b0-a8ac-00873549ff07",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Writing Newsletter Sections",
        "height": 224,
        "width": 448,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        640,
        48
      ],
      "id": "d79a5910-c4c4-4cb0-bc5d-b8ba672e58e4",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Editing Final Copy",
        "height": 224,
        "width": 448,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1104,
        48
      ],
      "id": "d5024564-1219-44f2-8cf6-ac1c3156f45c",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "",
        "width": 608,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        768,
        400
      ],
      "id": "16ce5625-71a5-4e1d-b3a8-f593b7cff1f7",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Send Draft",
        "height": 224,
        "width": 224
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1584,
        48
      ],
      "id": "39f1e505-faf6-4221-a903-40fa53d8f835",
      "name": "Sticky Note7"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        928,
        432
      ],
      "id": "a1b00acc-d19e-4eaa-bfe2-3e8905c720cc",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        208,
        128
      ],
      "id": "bc33a9b7-90f9-4ba1-8bec-b0c03692cf6c",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "sendTo": "mayank@evolvue.ai",
        "subject": "={{ $json.output.subject }}",
        "message": "={{ $json.output.content }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1632,
        128
      ],
      "id": "966acaaa-275b-42cf-8f7e-4f4df60a8d58",
      "name": "Send a message",
      "webhookId": "df6d96a3-5b6d-4fbd-9cd4-5224de63663d"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        2048,
        128
      ],
      "id": "47957c6e-f780-4845-9bfd-50adb14bab72"
    }
  ],
  "pinData": {},
  "connections": {
    "Initial Research": {
      "main": [
        [
          {
            "node": "Section Writer Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Section Writer Agent": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Editor Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "Editor Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Editor Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Section Writer Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Editor Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Initial Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b5d26d07-d585-4298-bafe-50e5a8ee37a7",
  "meta": {
    "instanceId": "9ff4b997319de8b36f3ec9da7971f29ebdff0b93b4afaf4fcaed05164719d3b2"
  },
  "id": "bdiUj0i5ciAATywG",
  "tags": []
}