Agentic 2.0/n8n/23rd August/Telegram - Personal Assistant copy.json
{
  "name": "Telegram - Personal Assistant copy",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -96,
        -80
      ],
      "id": "16821620-6c76-4dc2-a7b5-a488ff35ec5b",
      "name": "Telegram Trigger",
      "webhookId": "8b568522-5f00-4db7-9c05-6315573f975a",
      "credentials": {
        "telegramApi": {
          "id": "Xi1IHA7SxloVwof7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "=You are a helpful assistant who can help in below things.\n\n1. Calendar - You can create or get events ( many events as well ) by using the tool provided. Make sure that you give a proper name and description to the event when creating it.\n\n2. Tasks - You can create or get tasks ( many tasks as well ) by using the tool provided. Provide the due date in timestamp/ISO format example 2025-08-23T04:57:29.425Z.  \n\n3. Research Assistant - You will have to determine which query user want to get latest results, call the tavily tool provided and summarize and return the same.\n\n\nYou always call one of the tool when given a request. If there is any other request, please say 'Request Invalid'.\n\nThe date today is {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1248,
        -192
      ],
      "id": "3df56cca-7dec-4820-a8c8-573c572fb222",
      "name": "AI Agent",
      "retryOnFail": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1184,
        288
      ],
      "id": "850d0929-6ac2-4370-830b-5f542343b324",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "KmnuAc5d1NPxHjOE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1328,
        288
      ],
      "id": "cf5a95e5-962f-4493-a20c-6984e81d65f6",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1760,
        -192
      ],
      "id": "3e38f389-05bf-4595-99ef-9818097d0dcf",
      "name": "Send a text message",
      "webhookId": "13e0cd63-e593-4540-81c2-0f45f610e1c1",
      "credentials": {
        "telegramApi": {
          "id": "Xi1IHA7SxloVwof7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "mailtomayankaggarwal@gmail.com",
          "mode": "list",
          "cachedResultName": "mailtomayankaggarwal@gmail.com"
        },
        "start": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}",
        "end": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}",
        "additionalFields": {
          "description": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Description', ``, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1712,
        368
      ],
      "id": "6c1ef825-7042-46aa-9704-cc00546a8a60",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "9X4dsaZR4aSxQUv8",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "mailtomayankaggarwal@gmail.com",
          "mode": "list",
          "cachedResultName": "mailtomayankaggarwal@gmail.com"
        },
        "returnAll": "={{ false }}",
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "timeMin": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}",
        "timeMax": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        1904,
        368
      ],
      "id": "77b25434-27e2-45b8-b24d-3d013f5f94d0",
      "name": "Get many events in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "9X4dsaZR4aSxQUv8",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Create a task in Google Tasks. ",
        "task": "cTBHMC1kTk1DT0VCc3Z2bA",
        "title": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Title', ``, 'string') }}",
        "additionalFields": {
          "dueDate": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Due_Date', ``, 'string') }}",
          "status": "needsAction"
        }
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        2064,
        368
      ],
      "id": "8dae0314-0ef6-48ee-a7dc-4ef55bd3209b",
      "name": "Create a task in Google Tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "unc3A3GrJ9VqbFjs",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "task": "cTBHMC1kTk1DT0VCc3Z2bA",
        "limit": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Limit', ``, 'number') }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleTasksTool",
      "typeVersion": 1,
      "position": [
        2224,
        368
      ],
      "id": "a724363f-7b65-4958-896a-0415e9c4f42a",
      "name": "Get many tasks in Google Tasks",
      "credentials": {
        "googleTasksOAuth2Api": {
          "id": "unc3A3GrJ9VqbFjs",
          "name": "Google Tasks account"
        }
      }
    },
    {
      "parameters": {
        "query": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Query', ``, 'string') }}",
        "options": {
          "time_range": "week"
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavilyTool",
      "typeVersion": 1,
      "position": [
        1536,
        368
      ],
      "id": "d791b589-a8d3-4602-ac25-2e25a1f2fb4f",
      "name": "Tavily Tool",
      "credentials": {
        "tavilyApi": {
          "id": "GEXfLIYhPvoeKENJ",
          "name": "Tavily account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Tools\n",
        "height": 240,
        "width": 880,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1488,
        304
      ],
      "typeVersion": 1,
      "id": "e134a97b-14af-43d3-b824-f23da37c7551",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Telegram Message Triger\n",
        "height": 224,
        "width": 288
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        -144
      ],
      "typeVersion": 1,
      "id": "a63eb500-0828-4890-82fc-9b74d8e81d13",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "2c1fd5e0-e968-4f10-b6c1-37b47e27e6c9"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "VOICE"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f56dc4f4-8f61-4a3d-81e9-c7a87ba33f2e",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "TEXT"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        176,
        -80
      ],
      "id": "8e5b06a2-42ce-4cb7-9600-2617995d8074",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        384,
        -240
      ],
      "id": "8fc421a4-03b1-4f35-9b33-a3da4ee45102",
      "name": "Get a file",
      "webhookId": "22d714f6-62b5-4d94-8250-29dbdd6a671d",
      "credentials": {
        "telegramApi": {
          "id": "Xi1IHA7SxloVwof7",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        592,
        -240
      ],
      "id": "3d697143-fd11-4fa9-9436-90437b840c32",
      "name": "Transcribe a recording",
      "credentials": {
        "openAiApi": {
          "id": "KmnuAc5d1NPxHjOE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "00c3e3a5-9587-4f3b-8305-01f76aabc341",
              "name": "message",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        784,
        -240
      ],
      "id": "4e10f6ee-834b-4fcd-a067-016c0cca4f94",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7caafbf0-a0b6-4713-83ae-5cfc307276e7",
              "name": "message",
              "value": "={{ $json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        576,
        80
      ],
      "id": "9ad40250-e3b8-4881-9f16-8de18749a038",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "Happy to Help you",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        2256,
        -192
      ],
      "id": "e5148c70-fb84-40a3-8f55-aba87349726d",
      "name": "Generate audio",
      "credentials": {
        "openAiApi": {
          "id": "KmnuAc5d1NPxHjOE",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        2464,
        -192
      ],
      "id": "9291d51f-353d-438f-9cc1-deb348d760a8",
      "name": "Send an audio file",
      "webhookId": "e66ce9d0-8f2c-4ccf-b3c5-dd5fc4968818",
      "credentials": {
        "telegramApi": {
          "id": "Xi1IHA7SxloVwof7",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many events in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create a task in Google Tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many tasks in Google Tasks": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Transcribe a recording",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe a recording": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Generate audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate audio": {
      "main": [
        [
          {
            "node": "Send an audio file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "04c3d69c-31a6-4b6f-8ad9-ac335fba40ff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9ff4b997319de8b36f3ec9da7971f29ebdff0b93b4afaf4fcaed05164719d3b2"
  },
  "id": "A6W6ReVMZIuFlALV",
  "tags": []
}